.list-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}


.list-controls-button-container {
  display: flex;
  align-items: center;
}


.list-controls-button-container > button {
  margin-right: 5px;
}