.list-controls {
  display: flex;
  margin: 10px 0;
}


.list-controls-button-container {
  display: flex;
  align-items: center;
}


.list-controls div:first-child {
  margin-right: 30px;
}


.list-controls-button-container > button {
  margin-right: 5px;
}