.app {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn {
  padding: 10px;
  background-color: var(--blue);
  outline: none;
  border: none;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.btn-white {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}