.app {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glassmorphic-card {
  background: rgba( 255, 255, 255, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18px );
-webkit-backdrop-filter: blur( 18px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.btn {
  padding: 10px;
  background-color: var(--blue);
  outline: none;
  border: none;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.btn-white {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}